@use './header';
@use './components/input';
@use './components/button';


body {
    background-color: #F6F8F6;
}

main {
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
    &.unlogged-page {
        align-items: center;
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 120px;
    }
    
    .logo-app {
        height: 33px;
    }
}


.link-btn {
    align-items: center;
    background-color: #F3F4F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    height: 32px;
    padding: 20px;
    &:hover {
        background-color: #E5E7EB;
    }
}